In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('abc.csv')

In [22]:
df.sample(2)

,address_name_LEFT,address_1_LEFT,address_2_LEFT,city_LEFT,state_LEFT,ZIP_LEFT,Country_LEFT,address_name_RIGHT,address_1_RIGHT,address_2_RIGHT,city_RIGHT,state_RIGHT,ZIP_RIGHT,Country,Result
1268,"LISA,JACKSON",0008 ROBERT VALLEY,NaN,NEW JOHNPORT,MASSACHUSETTS,76467.0,USA,"LISA,JACKSON",0008 ROBERT VALLEY,NaN,NEW JOHNPORT,MASSACHUSETTS,76467.0,USA,MATCH
532,"SEAN,WATKINS",368 DAVIS ISLE SUITE 886,NaN,REBECCAMOUTH,GEORGIA,5512.0,USA,"SEAN,WATKINS",368 DAVIS ISLE SUITE 886,NaN,REBECCAMOUTH,GEORGIA,5512.0,USA,MATCH

In [23]:
df.rename(columns={'address_1_LEFT': 'address_LEFT', 'address_1_RIGHT': 'address_RIGHT'}, inplace=True)

In [24]:
df = df.drop(['address_2_LEFT', 'address_2_RIGHT'], axis=1)

In [25]:
df

,address_name_LEFT,address_LEFT,city_LEFT,state_LEFT,ZIP_LEFT,Country_LEFT,address_name_RIGHT,address_RIGHT,city_RIGHT,state_RIGHT,ZIP_RIGHT,Country,Result
0,"HOERNER,AUDREY",462 GRIDER STREET,BUFFALO,NY,NaN,USA,"HOERNER,AUDREY",462 GRIDER STREET,BUFFALO,NY,NaN,USA,MATCH
1,"BITRAN,JOYCE",1441 CONSTITUTION BLVD,SALINAS,CA,NaN,NaN,"BITRAN,JOYCE",1441 CONSTITUTION BLVD,SALINAS,CA,NaN,NaN,MATCH
2,"HOERNER,AUDREY",462 GRIDER STREET,BUFFALO,NY,NaN,USA,"HOERNER,AUDREY",462 GRIDER STREET,BUFFALO,NY,NaN,US,MATCH
3,MASK CUSTOMER - 33604,NaN,TAMPA,FL,33604.0,USA,MASK CUSTOMER - 28029,NaN,TAMPA,FL,28029.0,USA,NOT MATCH
4,MARQUEZ MENDOZA,777 E 25TH ST,HIALEAH,FL,NaN,NaN,"MARQUEZ MENDOZA,OTTO",777 E 25TH ST,HIALEAH,FL,33013.0,USA,MATCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051,"KEVIN,GONZALEZ",985 PITTS SPURS APT. 845,EAST DAKOTALAND,PENNSYLVANIA,40523.0,USA,"KEVIN,GONZALEZ",985 PITTS SPURS APT. 845,EAST DAKOTALAND,PENNSYLVANIA,40523.0,USA,MATCH
2052,"SCOTT,LE",459 ERICA KEYS,LAKE JESSICA,TENNESSEE,93166.0,USA,"SCOTT,LE",459 ERICA KEYS,LAKE JESSICA,TENNESSEE,93166.0,USA,MATCH
2053,"DAVID,HAMILTON",357 RONNIE EXTENSIONS APT. 688,WANDASHIRE,ARKANSAS,31074.0,USA,"DAVID,HAMILTON",357 RONNIE EXTENSIONS APT. 688,WANDASHIRE,ARKANSAS,31074.0,USA,MATCH
2054,"ERIC,SUAREZ",025 DANIEL SUMMIT,EMILYTOWN,MARYLAND,38920.0,USA,"ERIC,SUAREZ",025 DANIEL SUMMIT,EMILYTOWN,MARYLAND,38920.0,USA,MATCH
2055,"TIFFANY,LOWERY",75103 CODY FORKS,WEST SANDRA,MISSISSIPPI,30252.0,USA,"STEPHEN,CRUZ",75103 CODY FORKS,WEST SANDRA,MISSISSIPPI,30252.0,USA,NOT MATCH

In [26]:
df.to_csv(
    'abc2.csv',
    index = False
)